.cartItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 8px;
}

.imageContainer {
    margin-right: 10px;
}

.itemDetails {
    flex: 1;
}

.closeButton {
    background-color: red;
    color: white;
    border: none;
    padding: 4px 12px;
    border-radius: 50%;
    cursor: pointer;
}
