.summerDiscount {
    background-image:linear-gradient(43deg, rgba(190.0000038743019, 189.00000393390656, 127.00000002980232, 1) 0%,rgba(151.407633125782, 137.33601540327072, 102.10169166326523, 0.8399999737739563) 22.862915694713593%,rgba(190.0000038743019, 189.00000393390656, 127.00000002980232, 0) 78.0773937702179%) ;
    text-align: center;
    padding: 25px;
    margin-bottom: 25px;
    font-size: 20px;

}